In [1]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)

In [2]:
mapa = { 
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados.rename(columns = mapa, inplace = True)

In [3]:
dados.head(5)

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [4]:
x = dados[['principal', 'como_funciona', 'contato']]
y = dados['comprou']
x.head(5)

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [5]:
dados.shape

(99, 4)

In [6]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("Treinaremos com {} elementos e testaremos com {} elementos".format(len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [7]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

In [22]:
from sklearn.metrics import accuracy_score

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 96.00%

Separando treino e teste com a bib `train_test_split`
### sklearn.model_selection.train_test_split
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [24]:
from sklearn.model_selection import train_test_split

train_test_split(x, y, test_size = 0.25)

[    principal  como_funciona  contato
 47          1              0        1
 90          1              0        1
 59          0              0        1
 4           1              1        0
 43          1              0        1
 ..        ...            ...      ...
 42          0              1        0
 35          1              0        1
 55          1              1        0
 61          0              1        0
 41          0              0        1

 [74 rows x 3 columns],
     principal  como_funciona  contato
 11          1              0        1
 24          1              0        1
 58          1              0        1
 57          1              1        0
 21          0              1        0
 79          1              1        0
 14          0              0        1
 7           1              0        1
 30          0              1        0
 70          1              1        0
 5           1              0        1
 46          1              0        1
 38          1              1        0
 81          0              0        1
 37          0              0        1
 74          0              0        1
 23          0              1        0
 54          1              0        1
 85          1              1        0
 8           1              1        0
 19          0              1        0
 0           1              1        0
 88          0              0        1
 67          1              0        1
 71          0              0        1,
 47    1
 90    1
 59    0
 4     0
 43    1
      ..
 42    0
 35    1
 55    0
 61    0
 41    0
 Name: comprou, Length: 74, dtype: int64,
 11    1
 24    1
 58    1
 57    0
 21    0
 79    1
 14    0
 7     1
 30    0
 70    0
 5     1
 46    1
 38    0
 81    0
 37    0
 74    0
 23    0
 54    1
 85    0
 8     0
 19    0
 0     0
 88    0
 67    1
 71    0
 Name: comprou, dtype: int64]

### Correção da alatoriedade nos resultados da previsão
Atribuição de uma seed para os números aleatório usados pela biblioteca `sklearn`

In [23]:
SEED = 20

In [38]:
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        random_state = SEED, test_size =0.25, stratify = y)
print(treino_x.shape)
print(teste_x.shape)

(74, 3)
(25, 3)

In [42]:
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%