In [3]:
import pandas as pd

In [2]:
s = pd.Series(list('asdadeadesdasesda'))
s

0     a
1     s
2     d
3     a
4     d
5     e
6     a
7     d
8     e
9     s
10    d
11    a
12    s
13    e
14    s
15    d
16    a
dtype: object

In [3]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [5]:
s.value_counts()

a    5
d    5
s    4
e    3
dtype: int64

In [6]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [7]:
dados['Tipo'].unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [8]:
dados['Tipo'].value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

### Exercício 7.7
- Suponha que estejamos testando as moedas que serão utilizadas por árbitros de futebol nas competições da Copa do Mundo. Atualmente, estas moedas são personalizadas e utilizadas em certos momentos dos jogos para decidir, na sorte, uma disputa. Nosso objetivo é verificar se as moedas que serão utilizadas nas competições não sejam viciadas.
- Para isso testes foram realizados com cinco moedas e os resultados foram os seguintes:

In [1]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

- Acima, temos o resultado de 50 lançamentos de cada moeda (`m1`, `m2`, `m3`, `m4` e `m5`), onde `c` representa a ocorrência do evento `CARA` e `C` representa a ocorrência do evento `COROA`.

- Para tirarmos nossas conclusões, precisamos montar o seguinte DataFrame 
    - Onde `Freq. C` e `Freq. c` são, respectivamente, as frequências de `COROAS` e de `CARAS` em cada teste.
    - Assinale a opção que mostra o código necessário para realizar tal tarefa.

In [4]:
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])

In [5]:
df

   Faces
c   Cara
C  Coroa

In [29]:
eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}

In [31]:
moedas = pd.DataFrame(eventos)

In [55]:
for item in moedas:
    #print(item)
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)

m1
m2
m3
m4
m5

In [37]:
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25