## Exercício 8.3

In [1]:
import pandas as pd

In [14]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])

In [15]:
sexo = alunos.groupby('Sexo')

In [8]:
for nota, Sexo in sexo: 
    print(Sexo)

    Nome  Idade Sexo  Notas  Aprovado
1  Cátia     27    F    2.5     False
4  Bruna     42    F    8.2      True
5   Dara     21    F    7.0      True
7  Alice     35    F    5.6     False
     Nome  Idade Sexo  Notas  Aprovado
0     Ary     15    M    7.5      True
2   Denis     56    M    5.0     False
3    Beto     32    M   10.0      True
6  Carlos     19    M    6.0     False

In [16]:
sexo = pd.DataFrame(sexo['Notas'].mean().round(2))

In [17]:
sexo

      Notas
Sexo
F      5.82
M      7.12

In [18]:
sexo.columns = ['Notas Médias']

In [19]:
sexo

      Notas Médias
Sexo
F             5.82
M             7.12